


        body {
            background-color:  rgb(28, 136, 173);
            width: 1024px;
            height: 1024px;
        }
        
        #headercolor {
            color: rgb(171, 197, 38);
        }  

        #nav-table { 
            width: 1160px;
        }

        #nav-td {
            width: 300px;
            text-align:center
        }

        #background {
            background-image: url('mybackground.png');
        }