


        body {
            background-color:  lightblue;
            width: 1024px;
            height: 1024px;
        }
        
        #headercolor {
            color: rgb(255, 0, 0);
        }  

        #nav-table { 
            width: 1275px;
        }

        #nav-td {
            width: 300px;
            text-align:center
        }

        #background {
            background-image: url('mybackground.png');
        }