


        body {
            background-color:  lightblue;
            width: 1024px;
            height: 1024px;
        }
        
        #headercolor {
            color: brown;
        }  

        #nav-table { 
            width: 1024px;
        }

        #nav-td {
            width: 200px; 
            text-align:center
        }

        #background {
            background-image: url('clownvomit.jpg');
        }